* {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  height: 55px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: #FFF;
  box-shadow: 0 0 5px #00000055;
}

.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 50px;
}

.header .right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

.content {
  padding-top: 55px;
}

.content .title {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: -webkit-linear-gradient(315deg,#42d392 20%,#647eff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content .title h1 {
  font-size: 76px;
}

.content .title h2 {
  font-size: 56px;
}

.content .demos {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px 100px 100px;
  gap: 100px;
  font-size: 30px;
}

.content .demos .demo {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.content .demos .demo .preview {
  /* padding: 20px; */
  box-shadow: 0 0 5px #00000055;
  border-radius: 10px;
  min-width: 500px;
  min-height: 300px;
}

#fps {
  position: fixed;
  right: 10px;
  bottom: 10px;
}
#fps span {
  user-select: none;
}
/* #container1 {
  width: 900px;
  height: 800px;
}
#container2 {
  width: 500px;
  height: 300px;
} */